body{
    overflow-x: hidden;
}

#sticky-navbar{
    position: sticky !important;
    top: 0px !important;
}

.web-app-button{
    background-color: #5865F2 !important;
    color: white;
    margin-right: 20px;
    border: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #565656;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #565656;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5865F2
}

.web-app-button:hover{
    background-color: #505deb !important;
    color: white;
}

#page-hero-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.buffer{
    height: 200vh;
}

#page-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 3rem;
    background-color: #282828;
    color: white;
}