@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
    padding: 0;
    margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.graduated-icon {
  width: 300px;
}

.about-the-project-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 75px;
  flex-direction: row;
  text-align: center;
  font-size: 1.25rem;
}

.about-the-project-textbox {
  max-width: 300px;
}

.features-container {
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 400px;
  height: 50vh;
  width: 100vw;
  padding: 0 5vw 0 5vw;
}

.feature-container {
  max-width: 200px;
  width: 15vw;
}

.feature-container img {
  max-width: 200px;
  margin-bottom: 20px;
}

.feature-container p {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

#sticky-navbar {
  position: sticky !important;
  top: 0px !important;
}

.web-app-button {
  background-color: #5865f2 !important;
  color: white;
  margin-right: 20px;
  border: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #565656;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #565656;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5865f2;
}

.web-app-button:hover {
  background-color: #505deb !important;
  color: white;
}

#page-hero-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.buffer {
  height: 50vh;
}

#page-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
  background-color: #282828;
  color: white;
}

/* FOOTER */

img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-area {
  border-bottom: 1px solid #353c46;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353c46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #5865f2;
  color: #5865f2;
}

.contact-content img {
  max-width: 210px;
}

section,
footer {
  background: #282828;
  color: #868c96;
  margin: 0;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}
@media screen and (max-width: 1100px) {
  
  .feature-container p {
    text-align: center;
    font-size: 2rem;
    color: white;
  }  

  .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:  50px;
    margin-bottom: 20px;
    max-width: 500px;
    width: 50vw;
  }

  .features-container {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .about-the-project-container {
    display: flex;
    align-items: center;
    margin: 75px;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
  }

  .about-the-project-container h3{
    margin: 30px 0 30px 0;
    font-size: 2rem;
  }

  .about-the-project-textbox {
    width: 100%;
  }
}